@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #3c5070;
}

.container {
    width: 510px;
    padding: 40px 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
  
.dashboard h2{
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.dashboard h4{
  text-transform: capitalize;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}
.dashboard p{
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.dashboard,
.login-container {
    display: none;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form label {
    font-size: 0.9rem;
    margin-left: 20px;
    color: #b1b1b1;
    text-transform: capitalize;
    font-weight: 600;
}

.nav {
    margin-right: 100px;
}

.nav button {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
}
@-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
.nav button:hover {
    color: #3c5070;
    border-color: black;
}

.sign-up,
.login {
    margin-left: 160px;
    padding: 10px 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: inline-block;
    background: #3c5070;
    border-color: darkgrey;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    border: 0;
    font-weight: 700;
    color: #FFF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
.sign-up:active{
  box-shadow: none;
}
.login:active{
  box-shadow: none;
}

::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.login-container input,
.register-container input,
.dashboard input {
    color:#FFF;
    background: #3c5070 ;
    width: 100%;
    max-width: 450px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 0;
    outline: none;
    border: none; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional: Remove margin */
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
.gender {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #b1b1b1;
}

.gender input {
    margin-top: 3px;
}

.login-container h2,
.register-container h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.9rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
    

#transfer-form {
    margin-top: 10px;
}

#transfer-form input {
    margin-top: 20px;
    color: #FFF;
}

#transfer-form button {
    background: #3c5070;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    outline: none;
    color: #fff;
}
#transfer-form button:active{
  box-shadow: none;
}
.transfer{
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}
#logout{
  transform: translate(+50%,-30%);
  width: 50%;
  margin-top: 30px;
  padding: 10px 0 ;
  font-size: 1.2rem;
  text-transform: capitalize;
}


.dashboard input {
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;

    margin-top: 20px;
    margin-left: 10px;
}

#wit,
#dep,
#transfer {

    margin-left: 15px;
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    background: #3c5070;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #FFF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
#wit:active{
box-shadow: none;
}
#dep:active{
  box-shadow: none;
}
#transfer:active{
  box-shadow: none;
}



.popup{
  width: 400px;
  background: #ffff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.popup_show{
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
  visibility: visible;
}
.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  
}


@media screen and (max-width: 544px) {
    .container {
        width: 450px;
    }

    .login-container input,
    .register-container input,
    .dashboard input {
        max-width: 380px;

    }
}

@media screen and (max-width: 444px) {
    .container {
        width: 350px;
        max-width: fit-content;
        margin-top: 120px;
    }

    .login-container input,
    .register-container input,
    .dashboard input {
        max-width: 250px;

    }

    .sign-up {
        margin-left: 80px;
        padding: 10px 40px;
    }

    .login {
        margin-left: 80px;

    }

    #transfer-form button,
    #transfer {
        margin-left: 80px;
    }

    #wit,
    #dep {
        margin-left: 10px;
    }
}