* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 174, 174);
    background: radial-gradient(circle, rgba(238, 174, 174, 1) 0%, rgba(148, 221, 233, 0.9304096638655462) 100%);
     /* display: flex;
    justify-content: center;
    align-items: center;  */
    
}

.container {
    width: 500px;
    padding: 40px 20px;
     margin:0 auto; 
    margin-top: 100px; 
    background-color:rgba(199, 24, 243, 0.74);
     /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; */
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dashboard,
.login-container {
    display: none;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form label {
    font-size: 0.7rem;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #b1b1b1;
}

.nav {
    margin-right: 100px;
}

.nav button {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.nav button:hover {
    color: rebeccapurple;
    border-color: black;
}

.sign-up,
.login {
    margin-left: 160px;
    padding: 10px 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    display:inline-block;
    background: rgb(97, 72, 207);
    background: radial-gradient(circle, rgb(225, 174, 238) 0%, rgba(148, 221, 233, 0.9304096638655462) 100%);
    border-color: darkgrey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(31, 1, 163, 0.575);
}

::placeholder {
    color: #b1b1b1;
}

.login-container input,
.register-container input,
.dashboard input {
    width: 100%;
    max-width: 400px;
    margin-left: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;

}

.login-container h2,
.register-container h2 {
    text-align: center;
    text-transform: capitalize;
}

#transfer-form {
    margin-top: 10px;
}

#transfer-form input {
    margin-top: 20px;
}

#transfer-form button {
    margin:0 150px;
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    background: rgb(97, 72, 207);
    background: radial-gradient(circle, rgb(225, 174, 238) 0%, rgba(148, 221, 233, 0.9304096638655462) 100%);
    border-color: darkgrey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(31, 1, 163, 0.575);
}
.dashboard input{
    margin-top: 20px;
}
#wit,
#dep,
#transfer {

    margin-left: 15px;
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    background: rgb(97, 72, 207);
    background: radial-gradient(circle, rgb(225, 174, 238) 0%, rgba(148, 221, 233, 0.9304096638655462) 100%);
    border-color: darkgrey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(31, 1, 163, 0.575);
}






 @media screen and (max-width: 960px) {
    .container {
      margin-top: 350px;
    }
  }
@media screen and (max-width: 1200px) {
    .container {
      margin-top: 350px;
    }
  } 
@media screen and (max-width: 544px) {
    .container {
      width: 450px;
    }
    .login-container input,
.register-container input,
.dashboard input {
    max-width: 380px;

}
  } 
@media screen and (max-width: 444px) {
    .container {
      width: 350px;
      margin-top: 170px;
    }
    .login-container input,
.register-container input,
.dashboard input {
    max-width: 250px;

}
.sign-up{
    margin-left: 80px;
    padding: 10px 40px;
}
.login {
    margin-left: 80px;
    
}
#transfer-form button,
#transfer{
    margin-left: 80px;
}
#wit,
#dep{
    margin-left: 10px;
}
  } 